<!DOCTYPE html>
<html>
<head>
  <title>SPCC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner"><h1 class="banner" ><%= image_tag("cap_logo.png", :alt => "banner") %></h1></div>
<%= yield %>

</body>
</html>
